@model Formular.BaaS.Domain.Server
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BaaSMng/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
    <div class="span6">
        <div class="span4 alert alert-info">
            <img src="@Url.Content("~/Content/public/bootstrap/images/glyphicons_463_server.png")" alt="server" /> ServerName
            <dl>
                <dt>IP</dt>
                <dd>192.168.0.1</dd>
            </dl>
        </div>
        <div class="span4 alert alert-info">
            <img src="@Url.Content("~/Content/public/bootstrap/images/glyphicons_463_server.png")" alt="server" /> ServerName
            <dl>
                <dt>IP</dt>
                <dd>192.168.0.1</dd>
            </dl>
        </div>
        <div class="span4 alert alert-info">
            <img src="@Url.Content("~/Content/public/bootstrap/images/glyphicons_463_server.png")" alt="server" /> ServerName
            <dl>
                <dt>IP</dt>
                <dd>192.168.0.1</dd>
            </dl>
        </div>
    </div>
    <div class="span6">

    </div>
    
</div>
